<div class="row">
    <div class="col-md-12">
        Home > index
    </div>
    <div class="col-md-12 search-header">
        @using (Html.BeginForm("index", "Home"))
        {
            @Html.Hidden("testHidden", "testHiddentestHidden")

            <div class="form-group">
                Name: @Html.TextBox("Name", "NameName")
                EXECUTE: @Html.TextBox("EXECUTE", "EXECUTEEXECUTE")
                <br>content: @Html.TextBox("content", "contentcontent")
                remark: @Html.TextBox("remark", "remarkremark")
                <br>tags: @Html.TextBox("tags", "tagstags")
            </div>
        }
        <button type="button" id="btnADD" class="btn btn-default btn-sm" data-toggle="modal" data-target="#ModalADD">
            新增
        </button>
    </div>
    <div class="col-md-12">
        <table id="example" class="display" width="100%"></table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalADD" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">新增</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("index", "Home", FormMethod.Post, new { @Id = "formAdd", @Autocomplete= "off" }))
                {
                    <div class="">
                        Name: @Html.TextBox("Name", "", new { @class = "form-control" })
                        EXECUTE: @Html.TextArea("EXECUTE", "", new { @class = "form-control", @rows = "3" })
                        <br>content: @Html.TextArea("content", "", new { @class = "form-control", @rows = "9" })
                        remark: @Html.TextArea("remark", "", new { @class = "form-control", @rows = "3" })
                        <br>tags: @Html.TextBox("tags", "", new { @class = "form-control" })
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="FormAdd('formAdd');" >Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
    function FormAdd(formID) {
        var formData = new FormData(document.getElementById(formID));
        var data = {};
        formData.forEach((value, key) => data[key] = value);
        var settings = {
            "url": "../api/SQLProCRUD",
            "method": "POST",
            "contentType": false,
            "timeout": 100,
            "headers": {
                "Content-Type": "application/x-www-form-urlencoded"
            },
            "data": data
        };
        $.ajax(settings)
            .done(function (e) {
                if (e) {
                    if (e.msg === 'COMMIT') {
                        var Old_innerText = document.getElementById('btnADD').innerText;
                        document.getElementById('btnADD').innerText = 'COMMIT...';
                        setTimeout(function () { document.getElementById('btnADD').innerText = Old_innerText; }, 2000);

                        $('#ModalADD').modal('hide');
                    } else {
                        alert(e.msg);
                    }
                }

                table_example.ajax.reload();
            })
            .fail(function (e) {
                console.log(e);
                alert("error");
            })
            .always(function () {
                
            });
    }
</script>
<div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="ModalEditTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">修改</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("index", "Home", FormMethod.Post, new { @Id = "formEdit", @Autocomplete = "off" }))
                {
                    @Html.Hidden("Id", "")
                    <div class="">
                        Name: @Html.TextBox("Name", "", new { @class = "form-control" })
                        EXECUTE: @Html.TextArea("EXECUTE", "", new { @class = "form-control", @rows = "3" })
                        <br>content: @Html.TextArea("content", "", new { @class = "form-control", @rows = "9" })
                        remark: @Html.TextArea("remark", "", new { @class = "form-control", @rows = "3" })
                        <br>tags: @Html.TextBox("tags", "", new { @class = "form-control" })
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
    function SetModalEditData(id) {
        var data = Array.prototype.filter.call(table_example.ajax.json(), (data) => data.Id === id);
        if (data && data[0]) {
            formEdit.Id.value = data[0].Id;
            formEdit.Name.value = data[0].Name;
            formEdit.EXECUTE.value = data[0].Execute;
            formEdit.content.value = data[0].Content;
            formEdit.remark.value = data[0].Remark;
            formEdit.tags.value = data[0].Tags;

            $('#ModalEdit').modal('show');
        }
    }
</script>

<script>

    var table_example = {};
    function SetDataTable_ajax(JQElement, url) {
        var Ajax = { type: 'GET', dataSrc: '' };
        Ajax.url = url;
        var dataTable = JQElement.DataTable({
            paging: false, scrollY: '350px',
            dom: '<t>', // 查詢隱藏
            scroller: {
                loadingIndicator: true // 是否顯示"檔案加載中"文字。
            },
            language: {
                loadingRecords: '請稍等...',
                emptyTable: '無資料'
            },
            footerCallback: function FooterCallback() {
                var api = this.api();
                total = api.column('col_tag:name').data()
                    .reduce(function (a, b) {
                        if (b != null) {
                            return a + '|' + b;
                        } else {
                            return a;
                        }

                    }, '--');
                //console.log(total);

                var el_col_ids = Array.prototype.map.call(api.column('col_view:name').nodes(), td => td);

                api.column('col_id:name').data().each((id, index, ColInstance) => {
                    el_col_ids[index].addEventListener("click", () => {
                        SetModalEditData(id);
                    }, false);
                });
            },
            drawCallback: function DrawCallback() { },
            ajax: Ajax,
            columnDefs: [
                { targets: '_all', width: "", className: ''}
            ],
            columns: [
                {
                    data: null, title: '', name: 'col_view'
                    , defaultContent: '<button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>'
                },
                { data: 'Id', title: 'Id', visible: false, name: 'col_id' },
                { data: 'Name', title: 'Name' },
                { data: 'Execute', title: 'Execute' },
                { data: 'Remark', title: 'Remark' },
                { data: 'Tags', title: 'Tags', name: 'col_tag' }
            ]

        });
        return dataTable;
    }
    $(document).ready(function () {
        table_example = SetDataTable_ajax($('#example'), 'http://localhost:58077/api/SQLProCRUD');
    });

    /*
        table_example.ajax.json: ƒ ()  // 取得 Response 的 JSON 資料
        table_example.ajax.params: ƒ ()  // 取得 params
        table_example.ajax.reload: ƒ ()  // 重新載入資料，並回傳自己(table_example)
        table_example.ajax.url: ƒ ()  // 取得 url
    */
</script>